section h1 {
    font-size: 1.5vw;
}

section button,
p,
i {
    font-size: 1.5vh;
}

section {
    width: 100vw;
    height: 85vh;

    position: absolute;
    top: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #textoCarrinho {
        height: 5vh;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 2vh;

        h1 {
            margin: 0;
            padding: 0;
        }
    }

    #showCarrinho {
        width: 100vw;
        height: 65vh;

        margin: 0 auto;
        padding: 1vw;

        display: grid;
        gap: 2vw;
        grid-template-columns: repeat(3, 22vw);
        /* Mantendo o tamanho original dos cartões */
        justify-content: center;
        /* Garante alinhamento centralizado */

        overflow-y: scroll;

        .cartao {
            width: 20vw;
            height: 25vh;
            border-radius: 0.5vw;
            background-color: rgb(250, 250, 250);
            color: #3e3e3e;

            display: flex;

            #nomeDesc {
                width: 7.5vw;
                height: 25vh;

                display: flex;
                flex-direction: column;
                align-items: center;

            }

            #imgBtn {
                width: 12.5vw;
                height: 23vh;

                display: flex;
                flex-direction: column;
                align-items: center;

                #imgCartao {
                    width: 12.5vw;
                    height: 20vh;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    #foto {
                        width: 10vw;
                        height: 15vh;
                    }
                }

                #delCarrinho {
                    width: 7vw;
                    height: 5vh;

                    border-radius: 1vw;
                    border: none;

                    background-color: rgb(234, 29, 44);
                    color: white;
                }
            }
        }

        .cartao:hover {
            transform: scale(1.01);

            box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1);
        }
    }

    #delCarrinho:hover {
        cursor: pointer;
        transform: scale(1.01);
    }

    #btnsCarrinho {
        width: 20vw;
        height: 10vh;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .btnCart {
            width: 7vw;
            height: 5vh;

            border-radius: 1vw;
            border: none;

            background-color: rgb(234, 29, 44);
            color: white;
        }

        .btnCart:hover {
            cursor: pointer;
            transform: scale(1.01);
        }
    }
}