footer {
    width: 100vw;
    height: 5vh;

    position: fixed;
    bottom: 0vh;

    font-size: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(200, 200,0);

    #boxTextFooter {
        width: 80vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}