footer {
    width: 100vw;
    height: 5vh;

    position: fixed;
    bottom: 0vh;

    color: #3e3e3e;
    font-size: 2vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    justify-content: center;
    align-items: center;

    background-color: rgb(250, 250, 250);

    #boxTextFooter {
        width: 80vw;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        justify-content: space-evenly;
        align-items: center;
    }
}
