footer {
    width: 100vw;
    height: 10vh;

    position: absolute;
    bottom: 0vh;

    display: flex;
    justify-content: center;
    align-items: center;

    #boxTextFooter {
        width: 80vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}