header {
    width: 100vw;

    background-color: rgb(250, 250, 250);

    position: absolute;
    top: 0;

    z-index: 1;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;

    border-bottom: #3e3e3e solid 0.01vw;
}

header,
#logo,
#botoesHead {
    height: 10vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
}

#logo {
    width: 50vw;
    justify-content: start;

    #loguinho {
        margin: 0vh 1vw;
        width: 7vh;
        height: 7vh;
        background-color: black;
    }

    h1 {
        color: #3e3e3e;
        font-size: 5vh;
    }
}

#botoesHead {
    width: 50vw;
    justify-content: end;
}

.btnsHead {
    margin: 1vw;
    width: 7vw;
    height: 5vh;

    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;

    border: none;

    background-color: rgb(234, 29, 44);
    color: white;

    font-size: 2vh;
}

.btnsHead:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    
    cursor: pointer;
}
