header {
    width: 100vw;

    background-color: rgb(250, 250, 250);

    position: absolute;
    top: 0;

    display: flex;
    align-items: center;

    border-bottom: #3e3e3e solid 0.01vw;

    header,
    #logo,
    #botoesHead {
        height: 10vh;

        display: flex;
        align-items: center;
    }

    #logo {
        width: 50vw;
        justify-content: start;

        #loguinho {
            margin: 0vh 1vw;
            width: 7vh;
            height: 7vh;
            background-color: black;
        }

        h1 {
            color: #3e3e3e;
            font-size: 5vh;
        }
    }

    #botoesHead {
        width: 50vw;

        justify-content: end;

        .btnsHead {
            margin: 1vw;
            width: 7vw;
            height: 5vh;

            border-radius: 1vw;
            border: none;

            background-color: rgb(234, 29, 44);
            color: white;

            font-size: 2vh;
        }

        .btnsHead:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}