@import url(./index_sect.css);

@import url(./../header.css);
@import url(./../footer.css);

body {
    margin: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

@media screen and (min-width: 393px), (min-width: 480px) {
    body {
        margin: 0;

        width: 100vw;
        height: 100vh;

        overflow: hidden;
    }
}