section {
    width: 100vw;
    height: 85vh;

    position: absolute;
    top: 10vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
    overflow-y: scroll;
}

#banners {
    width: 400vw;

    position: absolute;
    left: 0vw;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
}

.banner {
    width: 70vw;
    height: 30vh;

    margin: 0vh 15vw;

    /* Adicionando fundo padrão para evitar banners sem cor */
    background-color: gray;
}

#banner1 { background-color: red; }
#banner2 { background-color: yellow; }
#banner3 { background-color: blue; }
#banner4 { background-color: green; }

#btns_banners {
    width: 40vw;
    height: 7vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    top: 70vh;

    z-index: 2;
}

.btn_banner {
    width: 7vw;
    height: 5vh;

    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;

    border: none;

    background-color: rgb(234, 29, 44);
    color: white;
}

.btn_banner:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

    cursor: pointer;
}

#login {
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 0;
    top: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;

    z-index: 2;

    background-color: rgba(250, 250, 250, 0.4);
}

#boxLogin {
    width: 40vw;
    height: 30vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: solid #e3e3e3 1vh;

    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;

    background-color: rgb(250, 250, 250);
}

#boxInputs {
    width: 40vw;
    height: 21vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputLogin {
    width: 25vw;
    height: 5vh;

    border: #3e3e3e solid 0.01vw;

    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;

    padding: 0vh 1vw;
}

.inputLogin:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
    
    cursor: pointer;
}

#boxBtnsLogin {
    width: 20vw;
    height: 7vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: space-evenly;
    align-items: center;
}

.loginBtns {
    width: 7vw;
    height: 5vh;

    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;

    border: none;

    background-color: rgb(234, 29, 44);
    color: white;
}

.loginBtns:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

    cursor: pointer;
}
