section h1 {
    font-size: 1.5vw;
}

section button,
p,
i {
    font-size: 1.5vh;
}

section {
    width: 100vw;
    height: 85vh;

    position: absolute;
    top: 10vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
    overflow-y: scroll;
}

#textoProduts {
    height: 5vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 2vh;

    background-color: transparent;
    color: #3e3e3e;
}

h1 {
    margin: 0;
    padding: 0;
}

#sectionCartoes {
    width: 100vw;
    height: 75vh;
    margin: 0 auto;
    padding: 1vw;

    display: -ms-grid;
    display: -moz-grid;
    display: -webkit-grid;
    display: grid;

    gap: 2vw;
    grid-template-columns: repeat(3, 22vw);
    justify-content: center;

    overflow-y: scroll;
}

.cartao {
    width: 20vw;
    height: 25vh;

    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    border-radius: 0.5vw;

    background-color: rgb(250, 250, 250);
    color: #3e3e3e;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    padding-left: 1vw;
}

#nomeDesc {
    width: 7.5vw;
    height: 25vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    align-items: center;
}

#imgBtn {
    width: 12.5vw;
    height: 23vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    align-items: center;
}

#imgCartao {
    width: 12.5vw;
    height: 20vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;
}

#foto {
    width: 10vw;
    height: 15vh;
}

#addCarrinho {
    width: 7vw;
    height: 5vh;

    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;

    border: none;
    background-color: rgb(234, 29, 44);
    color: white;
}

.cartao:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);

    -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1);
}

#addCarrinho:hover {
    cursor: pointer;

    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
}
