section {
    width: 100vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
    overflow-y: scroll;

    #textoProduts {
        width: 80vw;
        height: 8vh;

        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 2vh;

        font-size: 2vh;

        h1 {
            margin: 0;
            padding: 0;
        }
    }

    #sectionCartoes {
        width: 80vw;
        height: 60vh;
        margin: 0 auto;
        padding: 1vw;

        display: grid;
        gap: 2vw;
        grid-template-columns: repeat(3, 22vw);
        /* Mantendo o tamanho original dos cartões */
        justify-content: center;
        /* Garante alinhamento centralizado */

        .cartao {
            width: 20vw;
            height: 25vh;
            background-color: blue;
            display: flex;

            #nomeDesc {
                width: 7.5vw;
                height: 25vh;

                display: flex;
                flex-direction: column;
                align-items: center;

            }

            #imgBtn {
                width: 12.5vw;
                height: 25vh;

                #imgCartao {
                    width: 12.5vw;
                    height: 20vh;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    #foto {
                        width: 10vw;
                        height: 15vh;
                    }
                }

                #addCarrinho {
                    width: 10vw;
                    height: 4vh;

                    margin: 0.5vh 1.175vw;
                }
            }
        }
    }
}