<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de ...</title>
    <link rel="stylesheet" href="./../css/index/index_link.css">
    <script type="module" src=""></script>

</head>

<body>
    <header>
        <div id="logo">
            <div id="loguinho"></div>
            <h1>Loja de ...</h1>
        </div>
        <div id="botoesHead">
            <button class="btnsHead" onclick="window.location.href='./produtos.html'">Produto</button>
            <button class="btnsHead">Carinho</button>
            <button id="contato" class="btnsHead">Contato</button>
        </div>

    </header>

    <section>
    </section>

    <footer>
        <h1>Entre em contato também em ZapZap xxxx-xxxx</h1>
    </footer>

</body>

</html>