<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de ...</title>
    <link rel="stylesheet" href="./../css/produtos/produtos_link.css">
    <script type="module" src="./../../Controller/produtos/produtos.js" defer></script>

</head>

<body>
    <header>
        <div id="logo">
            <div id="loguinho"></div>
            <h1>Loja de ...</h1>
        </div>
        <div id="botoesHead">
            <button class="btnsHead" onclick="window.location.href='./index.html'">Inicio</button>
            <button class="btnsHead" onclick="window.location.href='./produtos.html'">Produto</button>
            <button class="btnsHead" onclick="window.location.href='./carrinho.html'">Carinho</button>
        </div>

    </header>

    <section id="sectionProduts">
        <div id="textoProduts">
            <h1>Veja abaixo alguns de nossos produtos e escolha qual mais te agradar!</h1>
        </div>

        <div id="sectionCartoes">

        </div>
    </section>

    <footer>
        <div id="boxTextFooter">
            <h1>CEMA</h1>
            <h1>-</h1>
            <h1>Sarau Literario</h1>
            <h1>-</h1>
            <h1>Tec.DS</h1>
        </div>

    </footer>

</body>

</html>