<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de ...</title>
    <link rel="stylesheet" href="./../css/produtos/produtos_link.css">
    <script type="module" src=""></script>

</head>

<body>
    <header>
        <div id="logo">
            <div id="loguinho"></div>
            <h1>Loja de ...</h1>
        </div>
        <div id="botoesHead">
            <button class="btnsHead" onclick="window.location.href='./index.html'">Inicio</button>
            <button class="btnsHead" onclick="window.location.href='./produtos.html'">Produto</button>
            <button class="btnsHead" onclick="window.location.href='./carrinho.html'">Carinho</button>
            <button id="contato" class="btnsHead">Contato</button>
        </div>

    </header>

    <section>
        <h1>Veja abaixo alguns de nossos produtos e escolha qual mais te agradar!</h1>
        <div id="sectionCartoes">
            <div class="cartao">
                <div id="nomeDesc">
                    <h1>Produto</h1>
                    <p>Descricao</p>
                </div>
                <div id="imgBtn">
                    <div id="imgCartao">
                        <img id="foto" src="" alt="">
                    </div>
                    <button id="addCarrinho"></button>
                </div>
            </div>
            <div class="cartao"></div>
            <div class="cartao"></div>
            <div class="cartao"></div>
            <div class="cartao"></div>
            <div class="cartao"></div>
            <div class="cartao"></div>
            <div class="cartao"></div>
            <div class="cartao"></div>
        </div>
    </section>

    <footer>
        <h1>Entre em contato também em ZapZap xxxx-xxxx</h1>
    </footer>

</body>

</html>